.title {
  font-family: "Encode Sans Compressed", sans-serif;

  background-image: url('imgs/poverty_child.jpg');
  background-size: cover;
  width: 100%;
  box-sizing: border-box;

  min-height: calc(100vh - 60px);

  display: flex;
}

.title-content {
  padding-top: 7rem;
  flex-basis: 40%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.roundness-shadow {
  border-radius: 2px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16), 0 10px 10px rgba(0, 0, 0, 0.23);
}

.target-user-container {
  background-color: #8e7e81;
  color: white;
  padding: 2rem;
}

.purpose-container {
  background-color: #f0dfcf;
  
  padding: 2rem;
}

.structure-container {
  background-color: #bcaaa4;
  color: white;
  padding: 2rem;
  padding-top: 2rem;
}

.purpose-content-container {
  display: flex;
  justify-content: space-between;
}

.purpose-content-item {
  flex-basis: 30%;
  background-color: aliceblue;
  padding: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
